* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .container{
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav {
    height: 50px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    align-items: center;
  }
  
  .sign-in {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: 0;
  }
  
  .details {
    padding: 10px 30px;
    background-color: green;
    color: white;
    border-radius: 5px;
  }
  
  .header-main {
    background-color: #eeee;
    height: 260px;
    padding: 40px 80px;
  }
  
  .main {
    width: 100%;
    display: flex;
    padding: 20px 40px;
  }
  
  .left {
    width: 70%;
    box-shadow:rgba(0, 0, 0, 0.2) 2px 4px 8px;
    margin: 10px;
  }
  .right {
    width: 30%;
    background-color: #eee;
    box-shadow:rgba(0, 0, 0, 0.5) 2px 4px 8px;
    margin: 10px;
  }
  
  .js-config {
    padding: 20px 30px;
  }
  
  #tutorials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 10px 20px;
  }
  
  #personal-training,
  #recent-videos {
    margin: 10px 20px;
  }
  
  #recent-videos ul {
    margin: 5px 30px;
  }
  

  .btn-custom{
    box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.3s
  }

  .btn-red{
    background-color: red;
    color: white;
  }
  .btn-blue{
    background-color: blue;
    color: white;
  }
  .btn-green{
    background-color: green;
    color: white;
  }
  .btn-cyan{
    background-color: cyan;
    color: black;
    border: 1px solid cyan;
  }

  .btn-red:hover{
    background-color: white;
    color: red;
  }
  .btn-blue:hover{
    background-color: white;
    color: blue;
  }
  .btn-green:hover{
    background-color: white;
    color: green;
  }
  .btn-cyan:hover{
    background-color: black;
    color: cyan;
    border: 1px solid cyan;
  }